<?xml version="1.0"?>
<model>
    <name>TOFAS Assembly Line</name>
    <version>1.0</version>

    <sdf>assembly_station.sdf</sdf>

    <author>
        <name>Ricardo Mendonça</name>
        <email>rmm@uninova.pt</email>
    </author>

    <description>
        Rear axle assembly line model of TOFAS factory.
    </description>
</model>