<?xml version="1.0"?>

<launch>

	<include file="$(find human_aware_navigation)/launch/getMap.launch" >
		<arg name="map_file" value="$(find human_aware_navigation)/map/ricsMap.yaml "/>
	</include>

	<!--include file="$(find thesis)/launch/mapping.launch">
		<arg name="use_simulation_topics" value="false" />
	</include-->

	<include file="$(find human_aware_navigation)/launch/amcl.launch" >
		<arg name="use_simulation_topics" value="false"/>
	</include>

	<!--include file="$(find human_aware_navigation)/launch/robotLocalization.launch" >
		<arg name="use_simulation_topics" value="true"/>
	</include-->

	<include file="$(find human_aware_navigation)/launch/ekf.launch" />

	<include file="$(find human_aware_navigation)/launch/peopleDetection.launch" >
		<arg name="height_above_ground" value="0.5"/>
		<arg name="dummy_transforms" value="false" />
	</include>

	<include file="$(find human_aware_navigation)/launch/turtlebot.launch" />

	<include file="$(find human_aware_navigation)/launch/navigation.launch">
		<arg name="use_simulation_topics" value="false"/>
		<arg name="amcl" value="true"/>
	</include>

	<include file="$(find human_aware_navigation)/launch/DetectedPeopleTransformBroadcaster.launch" />

	<include file="$(find human_aware_navigation)/launch/peopleStationMerger.launch" />

	<include file="$(find human_aware_navigation)/launch/DistanceMeasurer.launch" />

	<include file="$(find human_aware_navigation)/launch/transformers.launch">
		<arg name="height_above_ground" value="0.5"/>
	</include>

	<!--include file="$(find human_aware_navigation)/launch/KeyboardManager.launch" /-->

	<!--include file="$/find human_aware_navigation)/launch/GoalSender.launch" /-->

	<!--include file="$(find human_aware_navigation)/launch/rviz.launch"/-->

	<!--include file="$(find human_aware_navigation)/launch/peopleSimulator.launch" /-->

</launch>
