<?xml version="1.0"?>

<launch>

	<arg name="height_above_ground" default="1.6"/>  <!-- in meters, assumes a horizontally oriented RGB-D sensor;  important for accurate detection -->

	<!-- Launch static transformers -->
	<node name="gridMapToMapTransformer" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 gridmap map 100" />

	<node name="peopleToGridMapTransformer" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 people gridmap 100" />

	<node name="personsResultPoseToPeopleTransformer" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 persons_pose people 100" />

	<!--node name="stationsToPeopleTransformer" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 stations people 100" /-->

	<node name="rgbdToBaseLinkTransformer" pkg="tf" type="static_transform_publisher" args="0 0 $(arg height_above_ground) 0 0 0 base_link rgbd_front_top_link 100"/>

</launch>
