<?xml version="1.0"?>

<launch>
	
	<!-- Launch minimal sensors -->
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

	<!-- Launch 3dsensor -->
	<!--include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/-->	

	<!-- Launch laser scan -->
	<node pkg="hokuyo" type="hokuyo_node" name="hokuyo_laser">
		<param name="frame_id" type="string" value="plate_top_link" />
		<param name="port" type="string" value="/dev/ttyACM0" />
		<remap from="/scan" to="/mobile_base/sensors/laser_scan"/>
	</node>
	
</launch>
