<?xml version="1.0"?>

<launch>
  <param name="use_sim_time" value="true" />

  <arg name="world_name" default="$(find human_aware_navigation)/worlds/empty.world"/>

  <!-- start gazebo server-->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen"
    args="$(arg world_name)" />

  <!-- start gazebo client -->
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model husky" />

  <include file="$(find husky_control)/launch/control.launch" />
</launch>
