<?xml version="1.0"?>

<launch>

	<arg name="use_simulation_topics" default="true" />

	<!-- Start EKF for localization -->
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
		<rosparam command="load" file="$(find thesis)/config/localizationRealRobot.yaml" unless="$(arg use_simulation_topics)" />
		<rosparam command="load" file="$(find thesis)/config/localizationSimulation.yaml" if="$(arg use_simulation_topics)" />
	</node>
</launch>