<?xml version="1.0"?>

<launch>

	<include file="$(find thesis)/launch/getMap.launch" />

	<!--include file="$(find thesis)/launch/mapping.launch">
	 <arg name="use_simulation_topics" value="true" />
	</include-->

	<include file="$(find thesis)/launch/transformers.launch" />

	<include file="$(find thesis)/launch/amcl.launch" >
		<arg name="use_simulation_topics" value="true"/>
	</include>

	<include file="$(find thesis)/launch/robotLocalization.launch" >
		<arg name="use_simulation_topics" value="true"/>
	</include>

	<!--include file="$(find thesis)/launch/peopleDetection.launch" /-->

	<!--include file="$(find thesis)/launch/turtlebot.launch" /-->

	<include file="$(find thesis)/launch/navigation.launch"> 
		<arg name="use_simulation_topics" value="true"/>
	</include>

	<include file="$(find thesis)/launch/peopleStationMerger.launch" />

	<include file="$(find thesis)/launch/rviz.launch"/>

	<include file="$(find thesis)/launch/peopleSimulator.launch" />
</launch>
