<?xml version="1.0"?>

<launch>
	<!-- Launch static transformers -->
	<node name="gridMapToMapTransformer" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 gridmap map 100" />

	<node name="peopleToGridMapTransformer" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 people gridmap 100" />

	<node name="stationsToPeopleTransformer" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 stations people 100" />
</launch>