<model>
    <name>Eurocontainer Type D</name>
    <version>1.0</version>

    <sdf>eurocontainer_D.sdf</sdf>

    <author>
        <name>Ricardo Mendonça</name>
        <email>rmm@uninova.pt</email>
    </author>

    <description>
        Standard european Type D container.
        L: mm -- W: mm -- H: mm 
    </description>
</model>
