<?xml version="1.0"?>
<model>
    <name>Container Racks</name>
    <version>1.0</version>

    <sdf>container_racks.sdf</sdf>

    <author>
        <name>Ricardo Mendonça</name>
        <email>rmm@uninova.pt</email>
    </author>

    <description>
        Material racks to store european containers.
    </description>
</model>