<?xml version="1.0"?>
<model>
    <name>TOFAS Assembly Line outer walls</name>
    <version>1.0</version>

    <sdf>walls.sdf</sdf>

    <author>
        <name>Andre Lourenco</name>
        <email>andre.lourenco@uninova.pt</email>
    </author>

    <description>
        TOFAS factory outer walls.
    </description>
</model>