<?xml version="1.0"?>

<model>
    
    <name>Ground Floor</name>
    <version>1.0</version>
    <sdf version="1.4">ground_plane.sdf</sdf>

    <author>
        <name>Ricardo Mendonça</name>
        <email>rmm@uninova.pt</email>
    </author>

    <description>
        Ground model for TOFAS shopfloor.
    </description>

</model>
