#!/usr/bin/env python

PACKAGE='stations_layer'

from dynamic_reconfigure.parameter_generator_catkin import *

gen2 = ParameterGenerator()

gen2.add("enabled",    bool_t,   0, "Whether to apply this plugin or not ",             True)
gen2.add("cutoff",     double_t, 0, "Smallest value to publish on costmap adjustments", 10.0, 1.0, 254.0)
gen2.add("amplitude",  double_t, 0, "Amplitude of adjustments at peak",                 77.0, 0.0, 254.0)
gen2.add("covariance", double_t, 0, "Covariance of adjustments",                        0.25, 0.0,   5.0)
gen2.add("factor",     double_t, 0, "Factor with which to scale the velocity",           5.0, 0.0,  20.0)

exit(gen2.generate(PACKAGE, "stations_layer", "StationLayer"))
