<?xml version="1.0"?>
<model>
    <name>Bump</name>
    <version>1.0</version>

    <sdf>bump.sdf</sdf>

    <author>
        <name>Ricardo Mendonça</name>
        <email>rmm@uninova.pt</email>
    </author>

    <description>
        Bump to help mobile robots overcome small obstacles with no slope.
    </description>
</model>
