<?xml version="1.0"?>
<model>
    <name>Container Racks 2x3</name>
    <version>1.0</version>

    <sdf>container_racks_2x3.sdf</sdf>

    <author>
        <name>Ricardo Mendonça and André Lourenço</name>
        <email>rmm@uninova.pt and andre.lourenco@uninova.pt</email>
    </author>

    <description>
        Material racks to store european containers.
    </description>
</model>