<launch>

	<include file="$(find ros_bagger)/launch/record_bag.launch" >
		<arg name="filepath"				value="$(find ros_bagger)/bags" />
		<arg name="filename"				default="imau"	/>
		<arg name="splitting"				default="true" />
		<arg name="splitting_by_size" 		default="true" />
		<arg name="splitting_by_duration" 	default="false" />
		<arg name="splitting_value" 		default="2000" />
		<arg name="record_all" 				default="false" />
	  
		<arg name="topic_list" value="

		/clock

		/diagnostics
		/diagnostics_agg
		/diagnostics_toplevel_state

		/imau/actuator/servo/dxl/joint_states

		/imau/cognition/locomotion/navigation/cmd_vel

		/imau/filter/base_laser/scan
		/imau/filter/laser_cloud/base_back/cloud
		/imau/filter/laser_cloud/base_front/cloud
		/imau/filter/laser_cloud/gripper/cloud
		/imau/filter/laser_cloud/top_back/cloud
		/imau/filter/laser_cloud/top_front/cloud
		/imau/filter/locomotion/tangela/cmd_vel
		/imau/filter/magwick/imu_main/data
		/imau/filter/mux/actuator/joint_states
		/imau/filter/mux/locomotion/cmd_vel
		/imau/filter/odometry/tangela_encoder/odom
		/imau/filter/tangela/wheel_rds/odom

		/imau/sensor/base_front_nodelet_manager/bond
		/imau/sensor/bms/battery_state
		/imau/sensor/depth/camera_info
		/imau/sensor/depth/image
		/imau/sensor/depth/image/compressed
		/imau/sensor/depth/image/compressed/parameter_descriptions
		/imau/sensor/depth/image/compressed/parameter_updates
		/imau/sensor/depth/image/compressedDepth
		/imau/sensor/depth/image/compressedDepth/parameter_descriptions
		/imau/sensor/depth/image/compressedDepth/parameter_updates
		/imau/sensor/depth/image/theora
		/imau/sensor/depth/image/theora/parameter_descriptions
		/imau/sensor/depth/image/theora/parameter_updates
		/imau/sensor/depth/image_raw
		/imau/sensor/depth/image_raw/compressed
		/imau/sensor/depth/image_raw/compressed/parameter_descriptions
		/imau/sensor/depth/image_raw/compressed/parameter_updates
		/imau/sensor/depth/image_raw/compressedDepth
		/imau/sensor/depth/image_raw/compressedDepth/parameter_descriptions
		/imau/sensor/depth/image_raw/compressedDepth/parameter_updates
		/imau/sensor/depth/image_raw/theora
		/imau/sensor/depth/image_raw/theora/parameter_descriptions
		/imau/sensor/depth/image_raw/theora/parameter_updates
		/imau/sensor/depth/image_rect
		/imau/sensor/depth/image_rect/compressed
		/imau/sensor/depth/image_rect/compressed/parameter_descriptions
		/imau/sensor/depth/image_rect/compressed/parameter_updates
		/imau/sensor/depth/image_rect/compressedDepth
		/imau/sensor/depth/image_rect/compressedDepth/parameter_descriptions
		/imau/sensor/depth/image_rect/compressedDepth/parameter_updates
		/imau/sensor/depth/image_rect/theora
		/imau/sensor/depth/image_rect/theora/parameter_descriptions
		/imau/sensor/depth/image_rect/theora/parameter_updates
		/imau/sensor/depth/image_rect_raw
		/imau/sensor/depth/image_rect_raw/compressed
		/imau/sensor/depth/image_rect_raw/compressed/parameter_descriptions
		/imau/sensor/depth/image_rect_raw/compressed/parameter_updates
		/imau/sensor/depth/image_rect_raw/compressedDepth
		/imau/sensor/depth/image_rect_raw/compressedDepth/parameter_descriptions
		/imau/sensor/depth/image_rect_raw/compressedDepth/parameter_updates
		/imau/sensor/depth/image_rect_raw/theora
		/imau/sensor/depth/image_rect_raw/theora/parameter_descriptions
		/imau/sensor/depth/image_rect_raw/theora/parameter_updates
		/imau/sensor/depth/points
		/imau/sensor/depth_rectify_depth/parameter_descriptions
		/imau/sensor/depth_rectify_depth/parameter_updates
		/imau/sensor/depth_registered/camera_info
		/imau/sensor/depth_registered/hw_registered/image_rect
		/imau/sensor/depth_registered/hw_registered/image_rect/compressed
		/imau/sensor/depth_registered/hw_registered/image_rect/compressed/parameter_descriptions
		/imau/sensor/depth_registered/hw_registered/image_rect/compressed/parameter_updates
		/imau/sensor/depth_registered/hw_registered/image_rect/compressedDepth
		/imau/sensor/depth_registered/hw_registered/image_rect/compressedDepth/parameter_descriptions
		/imau/sensor/depth_registered/hw_registered/image_rect/compressedDepth/parameter_updates
		/imau/sensor/depth_registered/hw_registered/image_rect/theora
		/imau/sensor/depth_registered/hw_registered/image_rect/theora/parameter_descriptions
		/imau/sensor/depth_registered/hw_registered/image_rect/theora/parameter_updates
		/imau/sensor/depth_registered/hw_registered/image_rect_raw
		/imau/sensor/depth_registered/hw_registered/image_rect_raw/compressed
		/imau/sensor/depth_registered/hw_registered/image_rect_raw/compressed/parameter_descriptions
		/imau/sensor/depth_registered/hw_registered/image_rect_raw/compressed/parameter_updates
		/imau/sensor/depth_registered/hw_registered/image_rect_raw/compressedDepth
		/imau/sensor/depth_registered/hw_registered/image_rect_raw/compressedDepth/parameter_descriptions
		/imau/sensor/depth_registered/hw_registered/image_rect_raw/compressedDepth/parameter_updates
		/imau/sensor/depth_registered/hw_registered/image_rect_raw/theora
		/imau/sensor/depth_registered/hw_registered/image_rect_raw/theora/parameter_descriptions
		/imau/sensor/depth_registered/hw_registered/image_rect_raw/theora/parameter_updates
		/imau/sensor/depth_registered/image
		/imau/sensor/depth_registered/image/compressed
		/imau/sensor/depth_registered/image/compressed/parameter_descriptions
		/imau/sensor/depth_registered/image/compressed/parameter_updates
		/imau/sensor/depth_registered/image/compressedDepth
		/imau/sensor/depth_registered/image/compressedDepth/parameter_descriptions
		/imau/sensor/depth_registered/image/compressedDepth/parameter_updates
		/imau/sensor/depth_registered/image/theora
		/imau/sensor/depth_registered/image/theora/parameter_descriptions
		/imau/sensor/depth_registered/image/theora/parameter_updates
		/imau/sensor/depth_registered/image_raw
		/imau/sensor/depth_registered/image_raw/compressed
		/imau/sensor/depth_registered/image_raw/compressed/parameter_descriptions
		/imau/sensor/depth_registered/image_raw/compressed/parameter_updates
		/imau/sensor/depth_registered/image_raw/compressedDepth
		/imau/sensor/depth_registered/image_raw/compressedDepth/parameter_descriptions
		/imau/sensor/depth_registered/image_raw/compressedDepth/parameter_updates
		/imau/sensor/depth_registered/image_raw/theora
		/imau/sensor/depth_registered/image_raw/theora/parameter_descriptions
		/imau/sensor/depth_registered/image_raw/theora/parameter_updates
		/imau/sensor/depth_registered/points
		/imau/sensor/depth_registered_rectify_depth/parameter_descriptions
		/imau/sensor/depth_registered_rectify_depth/parameter_updates
		/imau/sensor/driver/parameter_descriptions
		/imau/sensor/driver/parameter_updates
		/imau/sensor/imu/main/data_raw
		/imau/sensor/imu/main/mag_raw
		/imau/sensor/ir/camera_info
		/imau/sensor/ir/image
		/imau/sensor/ir/image/compressed
		/imau/sensor/ir/image/compressed/parameter_descriptions
		/imau/sensor/ir/image/compressed/parameter_updates
		/imau/sensor/ir/image/compressedDepth
		/imau/sensor/ir/image/compressedDepth/parameter_descriptions
		/imau/sensor/ir/image/compressedDepth/parameter_updates
		/imau/sensor/ir/image/theora
		/imau/sensor/ir/image/theora/parameter_descriptions
		/imau/sensor/ir/image/theora/parameter_updates
		/imau/sensor/laser/base_back/echoes
		/imau/sensor/laser/base_back/first
		/imau/sensor/laser/base_back/hokuyo_UTM_30/parameter_descriptions
		/imau/sensor/laser/base_back/hokuyo_UTM_30/parameter_updates
		/imau/sensor/laser/base_back/last
		/imau/sensor/laser/base_back/scan
		/imau/sensor/laser/base_front/scan
		/imau/sensor/laser/gripper/hokuyo_UBG_04LX/parameter_descriptions
		/imau/sensor/laser/gripper/hokuyo_UBG_04LX/parameter_updates
		/imau/sensor/laser/gripper/scan
		/imau/sensor/laser/top_back/scan
		/imau/sensor/laser/top_front/hokuyo_UST_10LX/parameter_descriptions
		/imau/sensor/laser/top_front/hokuyo_UST_10LX/parameter_updates
		/imau/sensor/laser/top_front/scan
		/imau/sensor/rectify_color/parameter_descriptions
		/imau/sensor/rectify_color/parameter_updates
		/imau/sensor/rgb/camera_info
		/imau/sensor/rgb/image_raw
		/imau/sensor/rgb/image_raw/compressed
		/imau/sensor/rgb/image_raw/compressed/parameter_descriptions
		/imau/sensor/rgb/image_raw/compressed/parameter_updates
		/imau/sensor/rgb/image_raw/compressedDepth
		/imau/sensor/rgb/image_raw/compressedDepth/parameter_descriptions
		/imau/sensor/rgb/image_raw/compressedDepth/parameter_updates
		/imau/sensor/rgb/image_raw/theora
		/imau/sensor/rgb/image_raw/theora/parameter_descriptions
		/imau/sensor/rgb/image_raw/theora/parameter_updates
		/imau/sensor/rgb/image_rect_color
		/imau/sensor/rgb/image_rect_color/compressed
		/imau/sensor/rgb/image_rect_color/compressed/parameter_descriptions
		/imau/sensor/rgb/image_rect_color/compressed/parameter_updates
		/imau/sensor/rgb/image_rect_color/compressedDepth
		/imau/sensor/rgb/image_rect_color/compressedDepth/parameter_descriptions
		/imau/sensor/rgb/image_rect_color/compressedDepth/parameter_updates
		/imau/sensor/rgb/image_rect_color/theora
		/imau/sensor/rgb/image_rect_color/theora/parameter_descriptions
		/imau/sensor/rgb/image_rect_color/theora/parameter_updates

		/imau/teleop/locomotion/android/cmd_vel
		/imau/teleop/locomotion/default/cmd_vel
		/imau/teleop/locomotion/emergency/cmd_vel
		/imau/teleop/locomotion/xbox/cmd_vel

		/imau_actuator_servo_dxl_gripper_tilt_controller/gripper_tilt_controller/command
		/imau_actuator_servo_dxl_top_back_tilt_controller/top_back_tilt_controller/command
		/imau_actuator_servo_dxl_top_front_tilt_controller/top_front_tilt_controller/command

		/imau_cmd_vel_mux/active
		/imau_cmd_vel_mux/parameter_descriptions
		/imau_cmd_vel_mux/parameter_updates

		/imau_filter_imu/parameter_descriptions
		/imau_filter_imu/parameter_updates

		/imau_sensor_laser_top_back/parameter_descriptions
		/imau_sensor_laser_top_back/parameter_updates

		/imau_yocs_cmd_mux/bond

		/imu/is_calibrated

		/rosout
		/rosout_agg


		/tf

		/tangela_topics_and_topics_to_be_renamed
			/apply_command_odometry
			/autotune
			/buzz
			/charge
			/error_actuator


		" 

		/>

	</include>

</launch>