<launch>

	<arg name="filepath"				default="$(find ros_bagger)/bags" />
	<arg name="filename"				default="default_bagname"	/>
	<arg name="splitting"				default="true" />
	<arg name="splitting_by_size" 		default="true" />
	<arg name="splitting_by_duration" 	default="false" />
	<arg name="splitting_value" 		default="100" />
	<arg name="record_all" 				default="false" />
	<arg name="topic_list" default=" /clock /rosout /rosout_agg /tf" />

  	<group if="$(arg record_all)">
		<node pkg="rosbag" type="record" name="baggin_n_splittin_by_size" output="screen" args="-a -o $(arg filepath)/$(arg filename) --split --size=$(arg splitting_value)"
		   if="$(arg splitting_by_size)" />
	  	<node pkg="rosbag" type="record" name="baggin_n_splittin_by_duration" output="screen" args="-a -o $(arg filepath)/$(arg filename) --split --duration=$(arg splitting_value)"
		   if="$(arg splitting_by_duration)" />
	  	<node pkg="rosbag" type="record" name="baggin" output="screen" args="-a -o $(arg filepath)/$(arg filename)"
		  unless="$(arg splitting)" />
	</group>

	<group unless="$(arg record_all)">
		<node pkg="rosbag" type="record" name="baggin_n_splittin_by_size" output="screen" args="$(arg topic_list) -o $(arg filepath)/$(arg filename) --split --size=$(arg splitting_value)"
		   if="$(arg splitting_by_size)" />
	  	<node pkg="rosbag" type="record" name="baggin_n_splittin_by_duration" output="screen" args="$(arg topic_list) -o $(arg filepath)/$(arg filename) --split --duration=$(arg splitting_value)"
		   if="$(arg splitting_by_duration)" />
	  	<node pkg="rosbag" type="record" name="baggin" output="screen" args="$(arg topic_list) -o $(arg filepath)/$(arg filename)"
		  unless="$(arg splitting)" />
	</group>

</launch>