<launch>

	<include file="$(find ros_bagger)/launch/record_bag.launch" >
		<arg name="filepath"				value="$(find ros_bagger)/bags" />
		<arg name="filename"				default="REX_16"	/>
		<arg name="splitting"				default="true" />
		<arg name="splitting_by_size" 		default="true" />
		<arg name="splitting_by_duration" 	default="false" />
		<arg name="splitting_value" 		default="1000" />
		<arg name="record_all" 				default="false" />
	  
		<arg name="topic_list" value="

		/bms/battery_level

		/clock

		/course_over_ground

		/imu/data
		/imu/mag

		/move_base/global_costmap/costmap_updates
		/move_base/global_costmap/obstacles_laser_footprint/footprint_stamped
		/move_base/local_costmap/costmap
		/move_base/local_costmap/obstacles_laser_footprint/footprint_stamped
		/move_base/status

		move_base/goal 
		move_base/cancel
		move_base/feedback
		move_base/status
		move_base/result

		/move_base_simple/goal


		/pelagi/actuator/main_laser_tilt/joint_states
		/pelagi/actuator/main_laser_tilt/commands

		/pelagi/actuator/propulsion/commands


		/pelagi/cognition/navigation/controllers/angular_pid
		/pelagi/cognition/navigation/controllers/linear_pid


		/pelagi/diagnostics/computer/pc1
		/pelagi/diagnostics/computer/pc2
		/pelagi/diagnostics/computer/pc3

		/pelagi/diagnostics/imu/main


		/pelagi/gui/navigation/waypoints
		

		/pelagi/sensor/camera/ladybug3/lens_0/camera_info
		/pelagi/sensor/camera/ladybug3/lens_0/image_color/compressed
		/pelagi/sensor/camera/ladybug3/lens_1/camera_info
		/pelagi/sensor/camera/ladybug3/lens_1/image_color/compressed
		/pelagi/sensor/camera/ladybug3/lens_2/camera_info
		/pelagi/sensor/camera/ladybug3/lens_2/image_color/compressed
		/pelagi/sensor/camera/ladybug3/lens_3/camera_info
		/pelagi/sensor/camera/ladybug3/lens_3/image_color/compressed
		/pelagi/sensor/camera/ladybug3/lens_4/camera_info
		/pelagi/sensor/camera/ladybug3/lens_4/image_color/compressed
		/pelagi/sensor/camera/ladybug3/lens_5/camera_info
		/pelagi/sensor/camera/ladybug3/lens_5/image_color/compressed
		
		/pelagi/sensor/camera/quark2/image/compressed

		/pelagi/sensor/gps/main/fix
		/pelagi/sensor/gps/main/nmea_raw
		/pelagi/sensor/gps/main/odom
		/pelagi/sensor/gps/main/time_reference
		/pelagi/sensor/gps/main/vel

		/pelagi/sensor/imu/main/data
		/pelagi/sensor/imu/main/data_raw
		/pelagi/sensor/imu/main/mag
		/pelagi/sensor/imu/main/mag_raw
		/pelagi/sensor/imu/main/vel
		
		/pelagi/sensor/laser/main/scan
		
		/pelagi/sensor/sonar/main/pointcloud


		/pelagi/teleop/locomotion/cmd_vel

		
		/robot_pose_ekf/odom_combined

		/rosout
		/rosout_agg


		/tf" 

		/>

	</include>

</launch>